openapi: 3.0.0
info:
  title: Automation Service API
  description: API для управления сценариями автоматизации умного дома
  version: 1.0.0
  contact:
    name: Smart Home Team
    email: dev@smarthome.com

servers:
  - url: https://api.smarthome.com/v1/automation
    description: Production server
  - url: http://localhost:8085/api/v1
    description: Local development server

tags:
  - name: Scenarios
    description: Управление сценариями автоматизации
  - name: Executions
    description: История выполнения сценариев
  - name: Triggers
    description: Типы триггеров и условий

paths:
  /scenarios:
    get:
      tags:
        - Scenarios
      summary: Получить список сценариев
      description: Возвращает список всех сценариев пользователя с возможностью фильтрации
      operationId: listScenarios
      parameters:
        - name: only_enabled
          in: query
          description: Только активные сценарии
          schema:
            type: boolean
            default: false
        - name: search
          in: query
          description: Поиск по названию или описанию
          schema:
            type: string
        - name: tags
          in: query
          description: Фильтр по тегам (через запятую)
          schema:
            type: string
            example: "light,morning"
        - name: page
          in: query
          description: Номер страницы
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page_size
          in: query
          description: Размер страницы
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  scenarios:
                    type: array
                    items:
                      $ref: '#/components/schemas/Scenario'
                  total:
                    type: integer
                    example: 42
                  page:
                    type: integer
                    example: 1
                  page_size:
                    type: integer
                    example: 20
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Scenarios
      summary: Создать новый сценарий
      description: Создаёт новый сценарий автоматизации
      operationId: createScenario
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScenarioRequest'
      responses:
        '201':
          description: Сценарий создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Неверные параметры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /scenarios/{scenarioId}:
    get:
      tags:
        - Scenarios
      summary: Получить сценарий по ID
      description: Возвращает детальную информацию о сценарии
      operationId: getScenarioById
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: ID сценария
          schema:
            type: string
            example: "scenario-123"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Сценарий найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Сценарий не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Scenarios
      summary: Обновить сценарий
      description: Обновляет существующий сценарий
      operationId: updateScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: ID сценария
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScenarioRequest'
      responses:
        '200':
          description: Сценарий обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Сценарий не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Scenarios
      summary: Удалить сценарий
      description: Удаляет сценарий из системы
      operationId: deleteScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: ID сценария
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Сценарий удалён
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Сценарий не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /scenarios/{scenarioId}/toggle:
    patch:
      tags:
        - Scenarios
      summary: Включить/выключить сценарий
      description: Изменяет статус активности сценария
      operationId: toggleScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: ID сценария
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
                  description: Новый статус активности
                  example: true
      responses:
        '200':
          description: Статус изменён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Сценарий не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /scenarios/{scenarioId}/execute:
    post:
      tags:
        - Executions
      summary: Запустить сценарий вручную
      description: Выполняет сценарий немедленно (ручной запуск)
      operationId: executeScenario
      parameters:
        - name: scenarioId
          in: path
          required: true
          description: ID сценария
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dry_run:
                  type: boolean
                  description: Режим проверки без реального выполнения
                  default: false
                context:
                  type: object
                  description: Дополнительный контекст выполнения
                  additionalProperties: true
                  example:
                    source: "manual"
                    reason: "user_requested"
      responses:
        '200':
          description: Сценарий запущен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResult'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Нет прав на выполнение
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Сценарий не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Сценарий уже выполняется
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /executions:
    get:
      tags:
        - Executions
      summary: Получить историю выполнений
      description: Возвращает историю выполнения сценариев
      operationId: getExecutionHistory
      parameters:
        - name: scenario_id
          in: query
          description: Фильтр по ID сценария
          schema:
            type: string
        - name: from
          in: query
          description: Начальная дата
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Конечная дата
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          description: Фильтр по статусу
          schema:
            type: string
            enum: [success, failed, partial, pending]
        - name: limit
          in: query
          description: Количество записей
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          description: Смещение
          schema:
            type: integer
            default: 0
      security:
        - bearerAuth: []
      responses:
        '200':
          description: История получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  executions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExecutionRecord'
                  total:
                    type: integer
                    example: 156

  /executions/{executionId}:
    get:
      tags:
        - Executions
      summary: Получить детали выполнения
      description: Возвращает детальную информацию о выполнении сценария
      operationId: getExecutionById
      parameters:
        - name: executionId
          in: path
          required: true
          description: ID выполнения
          schema:
            type: string
            example: "exec-456"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Информация о выполнении
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionRecord'
        '404':
          description: Выполнение не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Scenario:
      type: object
      properties:
        id:
          type: string
          description: Уникальный идентификатор сценария
          example: "scenario-123"
        name:
          type: string
          description: Название сценария
          example: "Morning Light"
        description:
          type: string
          description: Описание сценария
          example: "Включить свет в спальне в 8 утра"
        user_id:
          type: string
          description: ID владельца сценария
          example: "user-123"
        enabled:
          type: boolean
          description: Активен ли сценарий
          default: true
        triggers:
          type: array
          description: Список триггеров запуска
          items:
            $ref: '#/components/schemas/Trigger'
        conditions:
          type: array
          description: Дополнительные условия выполнения
          items:
            $ref: '#/components/schemas/Condition'
        actions:
          type: array
          description: Действия при срабатывании
          items:
            $ref: '#/components/schemas/Action'
        tags:
          type: object
          description: Теги для категоризации
          additionalProperties:
            type: string
          example:
            category: "lighting"
            room: "bedroom"
        created_at:
          type: string
          format: date-time
          description: Время создания
        updated_at:
          type: string
          format: date-time
          description: Время последнего обновления
        execution_count:
          type: integer
          description: Количество выполнений
          example: 42
        last_executed:
          type: string
          format: date-time
          description: Время последнего выполнения

    Trigger:
      type: object
      description: Триггер запуска сценария
      required:
        - type
      properties:
        id:
          type: string
          description: Уникальный ID триггера
        type:
          type: string
          description: Тип триггера
          enum: [time, device_state, telemetry, sun, manual]
        cron:
          type: string
          description: Cron-выражение (для time)
          example: "0 8 * * *"
        timezone:
          type: string
          description: Часовой пояс (для time)
          default: "UTC"
          example: "Europe/Moscow"
        device_id:
          type: string
          description: ID устройства (для device_state/telemetry)
        property:
          type: string
          description: Свойство устройства (для device_state)
          example: "presence"
        operator:
          type: string
          description: Оператор сравнения
          enum: [eq, ne, gt, lt, gte, lte]
        value:
          type: object
          description: Значение для сравнения
        metric:
          type: string
          description: Метрика для telemetry
          example: "temperature"
        threshold:
          type: number
          description: Пороговое значение
        for_seconds:
          type: integer
          description: Сколько секунд должно выполняться условие
        event:
          type: string
          description: Событие для sun триггера
          enum: [sunrise, sunset]
        offset_minutes:
          type: integer
          description: Смещение от восхода/заката в минутах

    Condition:
      type: object
      description: Условие выполнения сценария
      required:
        - type
      properties:
        id:
          type: string
          description: Уникальный ID условия
        type:
          type: string
          description: Тип условия
          enum: [device_state, telemetry, time, and, or, not]
        device_id:
          type: string
          description: ID устройства
        property:
          type: string
          description: Свойство устройства
        operator:
          type: string
          description: Оператор сравнения
          enum: [eq, ne, gt, lt, gte, lte, contains, between]
        value:
          type: object
          description: Значение для сравнения
        metric:
          type: string
          description: Метрика для telemetry
        threshold:
          type: number
          description: Пороговое значение
        cron:
          type: string
          description: Cron-выражение для time условий
        timezone:
          type: string
          description: Часовой пояс
        sub_conditions:
          type: array
          description: Под-условия для and/or/not
          items:
            $ref: '#/components/schemas/Condition'

    Action:
      type: object
      description: Действие при выполнении сценария
      required:
        - type
      properties:
        id:
          type: string
          description: Уникальный ID действия
        type:
          type: string
          description: Тип действия
          enum: [device_command, notification, delay, webhook, scene, parallel]
        device_id:
          type: string
          description: ID устройства (для device_command)
        command:
          type: string
          description: Команда устройству
          example: "turn_on"
        parameters:
          type: object
          description: Параметры команды
          additionalProperties: true
          example:
            brightness: 80
            transition_ms: 3000
        template:
          type: string
          description: Шаблон уведомления
        data:
          type: object
          description: Данные для шаблона
        seconds:
          type: integer
          description: Задержка в секундах (для delay)
        url:
          type: string
          description: URL для webhook
        method:
          type: string
          description: HTTP метод для webhook
          enum: [GET, POST, PUT, PATCH, DELETE]
        body:
          type: object
          description: Тело запроса для webhook
        scene_id:
          type: string
          description: ID другого сценария для запуска
        actions:
          type: array
          description: Действия для параллельного выполнения
          items:
            $ref: '#/components/schemas/Action'

    CreateScenarioRequest:
      type: object
      required:
        - name
        - triggers
        - actions
      properties:
        name:
          type: string
          description: Название сценария
          example: "Morning Light"
        description:
          type: string
          description: Описание сценария
        triggers:
          type: array
          description: Список триггеров
          items:
            $ref: '#/components/schemas/Trigger'
        conditions:
          type: array
          description: Дополнительные условия
          items:
            $ref: '#/components/schemas/Condition'
        actions:
          type: array
          description: Действия
          items:
            $ref: '#/components/schemas/Action'
        enabled:
          type: boolean
          description: Активен ли сценарий
          default: true
        tags:
          type: object
          description: Теги
          additionalProperties:
            type: string

    UpdateScenarioRequest:
      type: object
      properties:
        name:
          type: string
          description: Новое название
        description:
          type: string
          description: Новое описание
        triggers:
          type: array
          description: Новые триггеры
          items:
            $ref: '#/components/schemas/Trigger'
        conditions:
          type: array
          description: Новые условия
          items:
            $ref: '#/components/schemas/Condition'
        actions:
          type: array
          description: Новые действия
          items:
            $ref: '#/components/schemas/Action'
        enabled:
          type: boolean
          description: Новый статус активности
        tags:
          type: object
          description: Новые теги

    ExecutionResult:
      type: object
      properties:
        execution_id:
          type: string
          description: ID выполнения
          example: "exec-456"
        scenario_id:
          type: string
          description: ID сценария
        scenario_name:
          type: string
          description: Название сценария
        status:
          type: string
          description: Статус выполнения
          enum: [completed, failed, partial, pending]
        started_at:
          type: string
          format: date-time
          description: Время начала
        completed_at:
          type: string
          format: date-time
          description: Время завершения
        duration_ms:
          type: integer
          description: Длительность в миллисекундах
        trigger:
          type: string
          description: Источник запуска
          enum: [manual, schedule, event]
        actions:
          type: array
          description: Результаты действий
          items:
            $ref: '#/components/schemas/ActionResult'
        success_count:
          type: integer
          description: Количество успешных действий
        failure_count:
          type: integer
          description: Количество ошибочных действий
        summary:
          type: string
          description: Краткий результат

    ActionResult:
      type: object
      properties:
        action_id:
          type: string
          description: ID действия
        type:
          type: string
          description: Тип действия
        success:
          type: boolean
          description: Успешно ли выполнено
        message:
          type: string
          description: Сообщение о результате
        result:
          type: object
          description: Результат выполнения
        duration_ms:
          type: integer
          description: Время выполнения

    ExecutionRecord:
      type: object
      properties:
        execution_id:
          type: string
          description: ID выполнения
        scenario_id:
          type: string
          description: ID сценария
        scenario_name:
          type: string
          description: Название сценария
        status:
          type: string
          description: Статус
          enum: [success, failed, partial, pending]
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        duration_ms:
          type: integer
        trigger:
          type: string
          description: Источник запуска
        error:
          type: string
          description: Сообщение об ошибке (если есть)

    Error:
      type: object
      properties:
        code:
          type: integer
          description: HTTP код ошибки
          example: 400
        message:
          type: string
          description: Сообщение об ошибке
          example: "Invalid request format"
        details:
          type: string
          description: Дополнительные детали
          example: "Missing required field: name"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен, полученный при аутентификации
```